/* EM Basis ================================================================ */

html {
    font-size: 12px;
}
/*Universal Box-model*/
*, *::before, *::after {
    box-sizing: border-box;
  }

/* Standard Element Styling ================================================= */

body {
    /*positioning & display*/
    margin: 0;
    padding: 0;
    /*styling*/
    color: #333;
    background-color: #fb83fa;
    /*typography*/
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.65;
    box-sizing: border-box;
}

p, a {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5em;
    color: #222;
    text-decoration: none;
}

span {
    font-weight: 700;
    color: #333;
    background-color: #ff7b0d;
}

a:hover {
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    transition: box-shadow 500ms ease-out 105ms;
    border-left: 5px solid rgba(0, 0, 0, 0);
    margin: 0 .5em 0 -5px;
    box-shadow: -35px 0 0 purple;
}

ol li:hover {
    list-style-type: none;
    transition: all 250ms ease-out 105ms;
}

ol li {
    margin: 0 1.75em 0 0;
}

a:active {
    color: purple;
    transition: all 250ms ease-in-out;
}

h1, h3 {
    line-height: 2.25;
    margin: 1em;
    text-align: center;
}

h3 {
    border-bottom: 1px solid #666;
    margin: -1em 0 0;
}

ol {
    margin: .5em 0 2em 0;
}

/* image links: ../images/ */

.sitecontainer {
    background: #ffa84c; /* Old browsers */
    background: linear-gradient(top, #ffa84c, #ff7b0d);
    width: 30em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 50px #666;
}

/* Header ====================================================================*/

header {
    text-align: center;
}