@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fs-1: clamp(1rem, 1vw, 3rem);
    --fs-2: calc(var(--fs-1)*1.5);
    --fs-half: calc(var(--fs-1)*.75);
    --lh-1: clamp(1.5, 1.65, 2);
    --color-1: rgba(15, 173, 255, 1);
    --color-2: rgba(92, 52, 148, 1);
    --color-3: rgba(186, 18, 99, 1);
    --color-darkgrey: rgba(45, 50, 55, 1);
    --color-cream: rgba(255, 245, 245, 1);

    font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: var(--lh-1);
    letter-spacing: -0.005rem;
    font-size: var(--fs-1);
    color: var(--color-darkgrey);
}

/*Universal Box-model*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: var(--fs-1);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-kerning: auto;
}

body {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". h ."
      ". b ."
      ". f .";
      backdrop-filter: blur(5px);
      background: linear-gradient(180deg, rgb(5, 173, 255), rgb(130, 214, 255), rgb(255, 255, 255));
}

p, a {
    text-decoration: none;
    color: var(--color-darkgrey);
}

a:hover {
    transition: all 500ms linear;
    text-decoration: 1.5px solid underline var(--color-1) !important;
}

a:active {
    transition: all 50ms linear;
    text-decoration: 1.5px solid underline var(--color-1) !important;
    color: var(--color-1)
}

em {
    font-style: italic;
    font-size: var(--fs-half);
}

h3 {
    font-size: var(--fs-2);
    font-weight: 600;
    line-height: 2;
    text-align: center;
    border-bottom: 1px solid var(--color-3);
    padding-bottom: .5rem;
    margin-top: .25rem;
}

header {
    grid-area: h;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    vertical-align: baseline;
}

.logo>a a:hover a:active {
    text-decoration: none;
}

.logo {
    transition: all 500ms linear;
    border-top: .5px solid var(--color-cream);
    border-bottom: .5px solid var(--color-cream);
    padding: 5px var(--fs-2);
    color: var(--color-cream);
    font-size: var(--fs-2);
    font-weight: 200;
    letter-spacing: 8px;
    text-indent: 8px;
    white-space: nowrap;
}

.logo:hover {
    transition: all 500ms linear;
    color: var(--color-darkgrey);
    font-weight: 900;
    letter-spacing: 10px;
    text-indent: 10px;
    padding: 0px var(--fs-1);
}

.portfolio {
    margin-top: .5rem;
}

.container {
    z-index: 1;
    grid-area: b;
    display: flex;
    flex-direction: column;
    padding: var(--fs-2);
    background: var(--color-cream);
    opacity: 100%;
    border-radius: 1.5rem;
}

.container>a {
    white-space: nowrap;
}

ul {
    padding: var(--fs-2);
}

li {
    list-style: none;
}

.icon {
    display: inline-block;
    position: relative;
    text-align: center;
    width: calc(var(--fs-1)*.75);
    height: 100%;
    margin-right: 5px;
}

#inner {
    fill: var(--color-1);
    opacity: 0;
}

#outer {
    fill: var(--color-darkgrey);
}


.portfolio>li:hover {
    #inner {
        transition: all 500ms linear;
        opacity: 100%;}
}

.portfolio>li:active {
    #inner {
        transition: all 50ms linear;
        opacity: 0%;}
    #outer {
        transition: all 50ms linear;
        fill: var(--color-1);}
}

.c {
    color: var(--color-2);
    font-weight: 300;
}
footer {
    margin-top: var(--fs-1);
    font-size: var(--fs-half);
    grid-area: f;
    text-align: center;
}
